/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 3, 2014, 3:28:23 PM
    Author     : abi
*/

/*this is copied from mainindex view which was missplaced*/
.section{
    display: none;
}
div#step_menu_container ul li{
    display: inline-block;
    margin: 0px 4px;
    padding: 2px;
}
div#step_menu_container ul li a h3{
    
    margin: 0px ;
    padding: 0;
}
div#step_menu_container ul li a.active_{
    
    background:   #DD1144;
    padding: 7px;
    color: #fff;
	border-radius: 50%;
}
div#step_menu_container ul li a{
    padding: 2px 0px;
    background:  #EFF4FA;
    padding: 7px;
    color:  #002a80;
	border-radius: 50%;
}
div#step_menu_container{
    //margin-bottom: 30px;
    
}
div#step_menu_container ul {
    text-align: center;
    //position: fixed;
}
/*this is copied from mainindex view which was missplaced*/
.classlvl select{
    padding: 4px;
    height: 50px;
    min-width: 236px;
}
.classlvl select:active{
   color: red;
}
#cat-lvl-1, cat-lvl-2, cat-lvl-3
{
    margin: 2%;
}
.category-input{
    margin-left: 2%;
    padding-left: 2%;
    border: solid 1px #ccc;
}
.btn-back , .btn-next{
    border: solid 1px #ccc;
    color: #000000;
    width: 15%;
    margin: 1%;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-box-border-radius: 30px;
    background: #EFEFEF;
}
.btn-next{
    border: solid 1px #EF0E0E;
    color: #FFF;
    width: 15%;
    background: #C00000;
}
.btn-next:active,.btn-next:hover{
    background: #EF0E0E;
    border: solid 1px #C00000;
}
.btn-back:active,.btn-back:hover{
   background: #CECECE;
}
.btn:focus, .category-input:focus {
  outline: #CECECE;
  outline: 5px auto #CECECE;
  outline-offset: -2px;
}
select.btn{
    border: solid 1px #ccc;
    
}
input[type=text],select#condition-select{
    border-radius: 18px;
    border: solid 1px #ccc;
}
textArea[name=description]{
    border-radius: 18px;
    border: solid 1px #ccc;
    width: 80%;
    padding: 2%;
    border-left: solid 1px #EF0E0E !important;
    border-right: solid 1px #EF0E0E !important;
    min-height: 80px;
    max-height: 200px;
}
input:focus, .category-input:focus ,textArea:focus, {
  outline: none !important;
  /*outline: 5px auto #CECECE;*/
  outline-offset: -2px;
}
div.bootstrap-switch-focused, div.bootstrap-switch-wrapper:focus{
    outline: none !important;
  /*outline: 5px auto #CECECE;*/
  outline-offset: -2px;
  border-color: #C00000 !important;
  box-shadow: inset 0 1px 1px #C00000 !important;
    
}
div.bootstrap-switch-wrapper{
    border-left: solid 1px #EF0E0E !important;
    border-right: solid 1px #EF0E0E !important;
}
.width-80{
    width: 80%;
}
.section2-input-text, select#condition-select{
    width: 80%;
    height: 40px;
    line-height: 40px;
    padding-left: 2%;
    font-weight: bold;
    border-left: solid 1px #EF0E0E !important;
    border-right: solid 1px #EF0E0E !important;
}
.col-xs-3 label, .col-xs-4 label{
    height: 40px;
    line-height: 40px;
    font-size: 24px;
    font-weight: normal;
    color: #C00000;
    /*font-family:  sans-serif;*/
}
.bootstrap-switch-handle-on{
    color: black;
}
.section2-input-text-not-imp{
    border-left: solid 1px #ccc !important;
    border-right: solid 1px #ccc !important;
    
}
.empty-image-holder{
    min-height: 400px;
    background: #FAFAFA;
    border: solid 1px #ccc;
    border-radius: 8px;
    margin-bottom: 4%;
    
/*    vertical-align:middle;
    line-height: 400px;*/
}
.empty-image-holder>div
{
    display: table;
    float: none;
    height: 100%;
}
.empty-image-holder>div>span{
    
    /*line-height:normal;*/
/*    display:table-cell; 
    line-height: normal;
    vertical-align:middle;
    text-align: center;
*/    font-size: 1.1em;
    font-weight: bold;
    font-style:  italic;
display: table-cell;
   text-align: center;
   vertical-align: middle;
}
.empty-image-holder>div>button{
    border-radius: 30px;
    padding: 2%;
    width: 20%;
    line-height: normal;
    display:table-cell;
}
.overlay-tint{
    /* IE 8 */
/*  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

   IE 5-7 
  filter: alpha(opacity=50);

   Netscape 
  -moz-opacity: 0.5;

   Safari 1.x 
  -khtml-opacity: 0.5;

   Good browsers 
  opacity: 0.5;*/
/* Fallback for web browsers that doesn't support RGBa */

  background: rgb(0, 0, 0);
/* RGBa with 0.6 opacity */

  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10000;
  top: 0;
  left: 0;
  color: white;
  display: none;
  /*background: #000000;*/
      
    
}
.overlay-tint>div{
    z-index: 10001;
    opacity: 1;
    
}

.alert-danger{
    background-color: #FFBABA;
    color: #D8000C;
    font-weight: bold;
}
.cat-error, .cat-error:active, .cat-error:focus{
    //outline: outset;
    border: solid 1px #D8000C !important;
    /*box-shadow: 0px 0px 17px #D8000C;*/
     -webkit-box-shadow: inset 0 0 12px #D8000C;
    box-shadow: inset 0 0 12px #D8000C;
}
#img-place-holder img{
    margin: 7% 0 7% 0;
    display: none;
}