/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 26, 2015, 4:24:19 PM
    Author     : biggi
*/
$color-base-text: #555;
$main-background : #EFEFEF;
$color-button-text-white:#fff;
$color-dark-gray :#ccc;
$color-light-gray:#EFEFEF;
$color-very-light-gray:#FAFAFA;
$color-yif-dark-red:#C00000;
$color-yif-light-red:#EF0E0E;
$color-yif-second-red:#D8000C;
$color-alert-background:#FFBABA;
$color-alert-bordor:#ebccd1;