@import "baseconfig";
ul.pagination .first, ul.pagination .last {
display: none;
}
ul.pagination > li > a{
    color: $color-yif-dark-red;
}
ul.pagination > li > a:hover{
    color: $color-yif-dark-red;
}
ul.pagination > li.active >a{
    background: $color-yif-dark-red;
    border: solid 1px $color-yif-light-red;
}
ul.pagination > li.active >a:hover{
    background: $color-yif-light-red;
    border: solid 1px $color-yif-dark-red;
}
div.filter-container{
     padding-top: 1.5%;
}
div.content-container{
    border-left: solid 1px $color-dark-gray;
    padding-top: 1.5%;
    background: $color-button-text-white;
}
div.image-cel-cont{
  
}
div.results-container{
    border-left: solid 1px $color-dark-gray;
    border-right: solid 1px $color-dark-gray;

	
	background: #EDEDED;
	background: -webkit-linear-gradient(90deg, rgba(237, 237, 237, 0) 5%, rgba(128, 128, 128, 0.23) 100%);
	background: -moz-linear-gradient(90deg, rgba(237, 237, 237, 0) 5%, rgba(128, 128, 128, 0.23) 100%);
	background: -ms-linear-gradient(90deg, rgba(237, 237, 237, 0) 5%, rgba(128, 128, 128, 0.23) 100%);
	background: -o-linear-gradient(90deg, rgba(237, 237, 237, 0) 5%, rgba(128, 128, 128, 0.23) 100%);
    /*background: #dddddd;*/
}